<mat-toolbar color="primary">
    <div class="geobon-logo">
        <mat-icon mat-list-icon svgIcon="geobon:logo" alt="GeoBon"></mat-icon>
        <br>
        <span class="subtitle">powered by <span class="title">VAT</span></span>
    </div>
</mat-toolbar>
<div class="container mat-typography">
    <mat-form-field *ngIf="ebvClasses">
        <mat-label>EBV Class</mat-label>
        <mat-select (selectionChange)="setEbvClass($event.value)">
            <mat-option *ngFor="let ebvClass of ebvClasses"
                        [value]="ebvClass">{{ebvClass.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="ebvNames">
        <mat-label>EBV Name</mat-label>
        <mat-select (selectionChange)="setEbvName($event.value)">
            <mat-option *ngFor="let ebvName of ebvNames"
                        [value]="ebvName">{{ebvName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="ebvDatasets">
        <mat-label>EBV Dataset</mat-label>
        <mat-select (selectionChange)="setEbvDataset($event.value)">
            <mat-option *ngFor="let ebvDataset of ebvDatasets"
                        [value]="ebvDataset">{{ebvDataset.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="ebvDataset">
        <p><em><span class="label">by</span> {{ebvDataset.author}}</em></p>
        <p><em><span class="label">with license</span> {{ebvDataset.license}}</em></p>
        <p class="justify">{{ebvDataset.description}}</p>
    </div>
    <ng-container *ngIf="ebvSubgroups && ebvSubgroupValueOptions$.length > 0">
        <ng-container *ngFor="let ebvSubgroupValues of ebvSubgroupValueOptions$; index as i">
            <mat-form-field>
                <mat-label>{{ebvSubgroups[i].name}}</mat-label>
                <mat-select (selectionChange)="setEbvSubgroupValue(i, $event.value)" #selectedEbvValue>
                    <mat-option *ngIf="ebvSubgroupValueOptions[i].length >= SUBGROUP_SEARCH_THRESHOLD">
                        <ngx-mat-select-search placeholderLabel="Filter" noEntriesFoundLabel="No entries found" ngModel
                                               (ngModelChange)="filterEbvSubgroupValueOptions(i, $event)"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let ebvSubgroupValue of ebvSubgroupValues"
                                [value]="ebvSubgroupValue">{{ebvSubgroupValue.label}}</mat-option>
                </mat-select>
                <mat-hint>{{ebvSubgroups[i].description}}</mat-hint>
            </mat-form-field>
            <p *ngIf="selectedEbvValue.value">{{selectedEbvValue.value.description}}</p>
        </ng-container>
    </ng-container>

    <button mat-raised-button color="primary" *ngIf="isAddButtonVisible()" (click)="showEbv()">Show</button>

    <div *ngIf="isAddButtonVisible()">
        <wave-ebv-country-selector *ngIf="isLayerLoaded$ | async"></wave-ebv-country-selector>
    </div>

    <mat-spinner *ngIf="loading$ | async"></mat-spinner>

    <div>
        <button mat-raised-button color="primary" *ngIf="isAddButtonVisible()" (click)="plot()">Plot</button>

        <wave-ebv-indicator-plot *ngIf="plotSettings"
                                 [data]="plotSettings.data$"
                                 [xLimits]="plotSettings.xLimits"
                                 [yLabel]="plotSettings.yLabel"
                                 [yLimits]="plotSettings.yLimits"></wave-ebv-indicator-plot>
    </div>
</div>
