<div class="legend-container mat-elevation-z4" *ngIf="(ebvLayer$ | async) !== null"
     fxLayout="column"
     fxLayoutAlign="space-between start"
     fxLayoutGap="8px">
    <span style="padding-left: 4px">Legend</span>
    TODO: Export <code>&lt;wave-legend-raster&gt;</code>
    <!--
    <wave-legend-raster>
        [symbology]="(ebvLayer$ | async).symbology"
        [symbologyData]="projectService.getLayerSymbologyDataStream(layer) | async"
        style="padding-left: 8px;"></wave-legend-raster> -->
</div>
