<h3>WITH SUPPORT BY</h3>
<p class="mat-small">The EBV Data Portal is supported by</p>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <a href="https://e-shape.eu" target="_blank">
        <img src="assets/logos/eshape.png" alt="e-shape">
    </a>
    <a href="https://www.idiv.de" target="_blank">
        <img src="assets/logos/idiv.png" alt="iDiv">
    </a>
    <a href="https://dbs.mathematik.uni-marburg.de" target="_blank">
        <img src="assets/logos/marburg.png" alt="University of Marburg">
    </a>
    <a href="https://www.uni-halle.de" target="_blank">
        <img src="assets/logos/mlu.png" alt="Martin Luther University of Halle-Wittenberg">
    </a>
</div>
